<section class="container collection mt-5 mb-5">
  <div>
    <h1>Collection</h1>
  </div>
  <div class="row">
    <div class="col-3 mt-3 mb-3">
      <div class="card p-3">
        <img src="https://i.ibb.co.com/sPWfwKd/Untitled-design-4.png" alt="">
        <div>
          <h4 class="mt-2">Striped Skirt and Top</h4>
          <strong>$50.00</strong><br>
          <button class="btn btn-primary mt-2">Add To Cart</button>
        </div>
      </div>
    </div>
    <div class="col-3 mt-3 mb-3">
      <div class="card p-3">
        <img src="https://i.ibb.co.com/sPWfwKd/Untitled-design-4.png" alt="">
        <div>
          <h4 class="mt-2">Striped Skirt and Top</h4>
          <strong>$50.00</strong><br>
          <button class="btn btn-primary mt-2">Add To Cart</button>
        </div>
      </div>
    </div>
    <div class="col-3 mt-3 mb-3">
      <div class="card p-3">
        <img src="https://i.ibb.co.com/sPWfwKd/Untitled-design-4.png" alt="">
        <div>
          <h4 class="mt-2">Striped Skirt and Top</h4>
          <strong>$50.00</strong><br>
          <button class="btn btn-primary mt-2">Add To Cart</button>
        </div>
      </div>
    </div>
    <div class="col-3 mt-3 mb-3">
      <div class="card p-3">
        <img src="https://i.ibb.co.com/sPWfwKd/Untitled-design-4.png" alt="">
        <div>
          <h4 class="mt-2">Striped Skirt and Top</h4>
          <strong>$50.00</strong><br>
          <button class="btn btn-primary mt-2">Add To Cart</button>
        </div>
      </div>
    </div>
    
    
    
  </div>
</section>

{%  schema  %}
  {
    "name": "Collection",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection"
      }
    ],
    "presets": [
      {
        "name": "Featured Collection",
        "category": "Collection"
      }
    ]
  }
{% endschema %}