{% liquid
  assign blocks = section.settings.blocks
%}

<section class="newsletter-section">
  <div class="container">
    <div class="newsletter-form text-center">
      {% for block in blocks %}
        {% case block.type %}
          <div>
            {% when 'title' %}
              <div class="title">
                <h1>{{ block.settings.title }}</h1>
              </div>
            {% when 'description' %}
              <div class="newsletter-details">
                <p>{{ block.settings.description }}</p>
              </div>
            </div>
          {% when 'email_form' %}
            {% form 'customer'
              , class: 'newsletter-form' %}
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">@</span>
                <input
                  type="email"
                  name="contact[email]"
                  class="form-control"
                  placeholder="Username"
                  aria-label="Username"
                  aria-describedby="basic-addon1">
                <div class="input-group-text">
                  <button type="submit" class="btn btn-secondary">Submit</button>
                </div>
              </div>
            {% endform %}
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Newslatter",
    "settings": [],
    "blocks": [
      {
        "type": "title",
        "name": "Heading",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Subscribe us!"
          }
        ]
      }, {
        "type": "description",
        "name": "Description",
        "limit": 1,
        "settings": [
          {
            "type": "richtext",
            "id": "description",
            "label": "Description"
          }
        ]
      }, {
        "type": "email_form",
        "name": "Email Form",
        "limit": 1
      }
    ],
    "presets": [
      {
        "name": "Newsletter",
        "category": "Email",
        "blocks": [
          {
            "type": "title"
          }, {
            "type": "email_form"
          }
        ]
      }
    ]
  }
{% endschema %}
