<div class="list-collection-template">
  <div class="container">
    <div class="header">
      <h2>{{ page_title }}</h2>
    </div>
    <div class="main-collections my-5">
      <div class="row">
        {% for collection in collections %}
          {% unless collection.handle contains 'frontpage' %}
          <div class="col-md-3">
            <div class="card">
              <div class="card-body">

              </div>
            </div>
          </div>
          {% endunless %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>